html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  --veryDarkBlueText: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryDarkGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font: 'Nunito Sans', sans-serif;
  --max-width: 1200px;
  --shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font);
  background-color: var(--veryDarkBlue);
}

#root {
  margin: 0;
  padding: 0;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

/* ===== Components ======= */

@import '_header';
@import '_section';
@import '_card';

/* ===== Utylities === */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

img {
  max-width: 100%;
  height: auto;
}

.loader {
  margin: 1rem auto;
  display: block;
  width: 8.7rem;
  height: 8.7rem;
}

.error {
  padding: 1rem;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  color: #ffff;
  background-color: #c0392b;
  mark {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    color: #ffff;
    background-color: #01579b;
  }

  @include mq(700px) {
    grid-column: span 2;
  }

  @include mq(1024px) {
    grid-column: span 4;
  }
}
