html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  --veryDarkBlueText: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryDarkGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font: 'Nunito Sans', sans-serif;
  --max-width: 1200px;
  --shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font);
  background-color: var(--veryDarkBlue);
}

#root {
  margin: 0;
  padding: 0;
}

/* ===== Utylities === */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.2rem;
  background-color: var(--darkBlue);
}

@media only screen and (min-width: 1024px) {
  .main-header {
    padding: 1rem 4rem;
  }
}

.main-header__title {
  color: var(--white);
  letter-spacing: 1px;
  font-size: 1.8rem;
}

@media only screen and (min-width: 1024px) {
  .main-header__title {
    font-size: 2.4rem;
  }
}

.main-header .main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  text-align: center;
}

.main-header .main-button__img {
  width: 20px;
  margin-right: 9px;
}

.main-header .main-button__text {
  font-size: 1.3rem;
  color: var(--white);
  font-weight: 600;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.7rem 1rem;
  width: 100%;
}

.main-section .main-form__search {
  background-color: var(--darkBlue);
  padding: 2.4rem 2.5rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  font-size: 1.5rem;
  color: var(--white);
  caret-color: var(--white);
  font-weight: 200;
  height: 40px;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

.main-section .main-form__search::-webkit-input-placeholder {
  color: var(--white);
  font-size: 1.5rem;
}

.main-section .main-form__search:-ms-input-placeholder {
  color: var(--white);
  font-size: 1.5rem;
}

.main-section .main-form__search::-ms-input-placeholder {
  color: var(--white);
  font-size: 1.5rem;
}

.main-section .main-form__search::placeholder {
  color: var(--white);
  font-size: 1.5rem;
}

.main-section .main-select {
  background-color: var(--darkBlue);
  border: 0;
  outline: 0;
  color: var(--white);
  margin-top: 4rem;
  font-size: 1.5rem;
  width: 50%;
  padding: 1.2rem 2rem;
  border-radius: 4px;
}
