html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  --veryDarkBlueText: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryDarkGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font);
}

#root {
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.2rem;
  background-color: var(--darkBlue);
}

@media only screen and (min-width: 1024px) {
  .main-header {
    padding: 1rem 4rem;
  }
}

.main-header__title {
  color: var(--white);
  letter-spacing: 1px;
  font-size: 1.9rem;
}

@media only screen and (min-width: 1024px) {
  .main-header__title {
    font-size: 2.4rem;
  }
}

.main-header .main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  text-align: center;
}

.main-header .main-button__img {
  width: 20px;
  margin-right: 9px;
}

.main-header .main-button__text {
  font-size: 1.3rem;
  color: var(--white);
  font-weight: 600;
}
